
<form action="/node-dopple-main" method="POST">
<h2>The Two Chosen Players:</h2>

<% 
	
	// Program variables
	let photoPath  = "/Dopples/Actress_Picture/";
	let scorePath = "/Dopples/Actress_Score/";
	
	function getRandomIntInclusive(min, max) {
		min = Math.ceil(min);
		max = Math.floor(max);
		return Math.floor(Math.random() * (max - min + 1)) + min; //The maximum is inclusive and the minimum is inclusive 
	};

	let playerOne = getRandomIntInclusive(1, 5);
	let playerTwo = getRandomIntInclusive(1, 5);
	if (playerOne === playerTwo){
		console.log("Players the same!");
		while (playerOne === playerTwo){
			playerTwo = getRandomIntInclusive(1, 5);
		}
	}
	let playerOneImage = playerOne + ".jpg";
	let playerTwoImage = playerTwo + ".jpg";
	
	// Array passed if Player One wins
	playerOneIsWinnerArray = [];
	playerOneIsWinnerArray[0] = playerOne;
	playerOneIsWinnerArray[1] = playerTwo;
	playerOneIsWinnerArray = JSON.stringify(playerOneIsWinnerArray);
	
	// Array passed if Player Two wins
	playerTwoIsWinnerArray = [];
	playerTwoIsWinnerArray[0] = playerTwo;
	playerTwoIsWinnerArray[1] = playerOne;
	playerTwoIsWinnerArray = JSON.stringify(playerTwoIsWinnerArray);

if (Array.isArray(playerArray) && playerArray.length){ 
	console.log("Array NOT empty!");
	
	playerArray.forEach(function(player){ %>
			<p><%= player.winner %></p>
	<%});
}else{
		console.log("Array Empty!"); %>
		
<% };%>

	<img src="<%= playerOneImage %>" name="playerImage" value="<%= playerOneImage %>"><img src="<%= playerTwoImage %>" name="playerImage" value="<%= playerTwoImage %>">
	<p>Player 1: <input type="submit" name="playerName" value="<%= playerOneIsWinnerArray %>" /></p>
    <p>Player 2: <input type="submit" name="playerName" value="<%= playerTwoIsWinnerArray %>" /></p>
</form>