<% 
	function getRandomIntInclusive(min, max) {
		min = Math.ceil(min);
		max = Math.floor(max);
	return Math.floor(Math.random() * (max - min + 1)) + min; //The maximum is inclusive and the minimum is inclusive 
	};
	
	let photoPath  = "Dopples/Actress_Picture/";
	let maxPlayers = 5;
	let imgHeight = "200px";
	let imgWidth = "150px";
				
	let playerOne = newPlayers[0][0];
	let playerOneName = newPlayers[0][1];
	let playerOneScore = newPlayers[0][2];
	let playerOneELO = newPlayers[0][3];
	
	let playerTwo = newPlayers[1][0];
	let playerTwoName = newPlayers[1][1];
	let playerTwoScore = newPlayers[0][2];
	let playerTwoELO = newPlayers[1][3];
	
	let playerOneImage = photoPath + playerOne + ".jpg";
	let playerTwoImage = photoPath + playerTwo + ".jpg";
	
	// Array passed if Player One wins
	playerOneIsWinnerArray = [];
	playerOneIsWinnerArray[0] = playerOne;
	playerOneIsWinnerArray[1] = playerTwo;
	playerOneIsWinnerArray = JSON.stringify(playerOneIsWinnerArray);
	
	// Array passed if Player Two wins
	playerTwoIsWinnerArray = [];
	playerTwoIsWinnerArray[0] = playerTwo;
	playerTwoIsWinnerArray[1] = playerOne;
	playerTwoIsWinnerArray = JSON.stringify(playerTwoIsWinnerArray);
	
%>
<center>
<h2>Can you tell the difference between <u><%= playerOneName %></u> and <u><%= playerTwoName %></u>?</h2>
<div style="width: 50%"><p>Based upon previous user voting/input, there is a <%= playerOneELO %>% "ELO formula chance" that people will think <%= playerOneName %> is actually <%= playerOneName %> and not <%= playerTwoName %> (the formula predicts a <%= playerTwoELO %>% chance of <%= playerTwoName %> being mistaken for <%= playerOneName %>, based upon previous input into this app)</p></div>

<form action="/node-dopple-main" method="POST">
<%
let rando = getRandomIntInclusive(1, 2);
if(rando === 1){ // Randomize pictures
%>
	<img height="<%= imgHeight %>" width="<%= imgWidth %>" src="<%= playerOneImage %>" name="playerImage" value="<%= playerOneImage %>"><img height="<%= imgHeight %>" width="<%= imgWidth %>" src="<%= playerTwoImage %>" name="playerImage" value="<%= playerTwoImage %>">
	<p><button type="submit" name="playerName" value="<%= playerOneIsWinnerArray %>"><%= playerOneName %> is on the left</button></p>
	<p><button type="submit" name="playerName" value="<%= playerTwoIsWinnerArray %>"><%= playerOneName %> is on the right</button></p>
	
<% }else{ %>
	<img height="<%= imgHeight %>" width="<%= imgWidth %>" src="<%= playerTwoImage %>" name="playerImage" value="<%= playerTwoImage %>"><img height="<%= imgHeight %>" width="<%= imgWidth %>" src="<%= playerOneImage %>" name="playerImage" value="<%= playerOneImage %>">
	<p><button type="submit" name="playerName" value="<%= playerTwoIsWinnerArray %>"><%= playerOneName %> is on the left</button></p>
	<p><button type="submit" name="playerName" value="<%= playerOneIsWinnerArray %>"><%= playerOneName %> is on the right</button></p>
<% }; %>
		
</form>

<%
	if (Array.isArray(playerArray) && playerArray.length){ 
		console.log("Array NOT empty!");
	
		playerArray.forEach(function(currentArray){ %>
			<p>Winner: <%= currentArray.winner %></p>
			<p>Loser: <%= currentArray.loser %></p>
	<%});
	}else{
		console.log("Array Empty!"); %>
		
	<%};
%>
</center>
